@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --accent: #3351ad;
    --accent_tran: #1313139b;
    --accent_hover:#5c06c5;
    --accent_disabled:#3351ad56;
    --text_color: #515271ca;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
    list-style: none;
    border:none;
    outline:none;
    text-decoration: none;
    font-weight:400;
    scroll-behavior: smooth;
    transition: .2s;
}





.hero{
    width:100%;
    height:auto;
    min-height:600px;
    padding-bottom:100px;
}


.header{
    width:100%;
    height:70px;
    display:flex;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    background: var(--accent_hover);
    z-index:100
}

a{
    color:black;
    text-decoration: none;
}



.right_head{
    width:800px;
    height:100%;
}

.right_head ul{
    display:flex;
    align-items: center;
    height:100%;
    justify-content: flex-end;
    padding-right:30px;
}

.right_head ul li{
    font-size:15px;
    font-weight:600;
    color: white;
    margin:0 14px;
    text-transform: capitalize;
}


.cent{
    margin:0 auto;
}


.logo_cont{
    width:300px;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo_cont img{
    width:120px;
    height:auto;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.message{
    position:fixed;
    background: var(--accent);
    color:white;
    height:40px;
    width:20%;
    margin:auto;
    display:none;
    justify-content:center;
    align-items:center;
    text-align: center;
    padding:10px;
    border-radius: 10px;
    left: 0; 
    right: 0; 
    top:50px;
    margin-left: auto; 
    margin-right: auto; 
    animation: fade_out .5s;
    z-index:99999999999999999;
    /* margin-top:50px; */
}





@keyframes fade_out {
    from{
        transform: translateY(-40px);
}

    to{
        transform: translateY(0px);

    }
}