.sec1{
    margin-top:70px;
    width:100%;
    min-height:600px;
    height:auto;
    padding:1px;
}

.sec1 .cent{
    min-height:600px;
    height:auto;
    max-width:1300px;
    width:auto;
    display:flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.patient_card{
    width:200px;
    height:200px;
    margin:30px 60px;
    border-radius: 12px;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.patient_card h4{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ico_cont{
    width:100%;
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.232);
}

.ico_cont i{
    color:var(--accent_hover);
    font-size:50px;
}

.patient_card h4{
    margin:16px;
    text-align: center;
    font-weight:700;
    color:var(--accent)
}

.sec1 h1{
    margin:20px 0;
    text-align: center;
    font-weight:700;
}

.patient_card:hover{
    background: var(--accent);
}

.patient_card:hover i, .patient_card:hover h4{
    color:white;
}

.patient_card:hover .ico_cont{
    border-bottom: 1px solid rgba(255, 255, 255, 0.232);
}